QLabel#label_nickname
{
    qproperty-alignment: AlignCenter;
}

QLineEdit#num
{
    qproperty-alignment: AlignCenter;
}

QLineEdit#edit_nickname
{
    qproperty-alignment: AlignCenter;
}

QLabel#info
{
    qproperty-alignment: AlignCenter;
}